<template name="passwordlist">
<div class="clearfix">
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <a href="/password/new" class="btn btn-primary create-button"><i class="glyphicon glyphicon-plus"></i> Create New</a>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      <input type="text" class="form-control" id="filter" placeholder="Filter results">
    </div>
  </div>
</div>
<div class="list-default">
  <ul>
    {{#each passwordlist}}
    <li><a href="/password/{{_id}}"><span class="password">{{nickname}}</span></a></li>
    {{/each}}
  </ul>
</div>

</template>
